* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
width: 100%;
height: 100vh;
}


.formGuia {
    margin: 0 auto;
    width: 550px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.card {
    width: 100%;
    height: auto;

    padding: 20px;

}

.card label {
    width: 40%;
    display: inline-block;
}

.card input {
    width: 59%;
}

.card select {
    width: 59%;
}
